binds {

  Mod+W              { spawn-sh "pkill waybar || waybar"; }
  Mod+V              { spawn-sh "ghostty --class=popup.term -e clipse"; }
  Mod+E              { spawn-sh "killall spf || ghostty --class=popup.term -e spf"; }
  Mod+Space          { spawn-sh "rofi -show drun || pkill rofi"; }
  Mod+Return         { spawn-sh "ghostty -e nu"; }
  Mod+Alt+Return     { spawn "ghostty"; }
  Mod+Shift+w        { spawn "waypaper"; }
  Mod+Alt+B          { spawn "zen-beta"; }
  Mod+Alt+X          { spawn "hyprlock"; }

  Mod+O repeat=false { toggle-overview; }

  Mod+Q repeat=false { close-window; }

  Mod+H              { focus-column-left; }
  Mod+J              { focus-window-or-workspace-down; }
  Mod+K              { focus-window-or-workspace-up; }
  Mod+L              { focus-column-right; }

  Mod+Shift+H        { move-column-left-or-to-monitor-left; }
  Mod+Shift+J        { move-window-down-or-to-workspace-down; }
  Mod+Shift+K        { move-window-up-or-to-workspace-up; }
  Mod+Shift+L        { move-column-right-or-to-monitor-right; }

  Mod+Ctrl+H         { focus-monitor-left; }
  Mod+Ctrl+J         { focus-monitor-down; }
  Mod+Ctrl+K         { focus-monitor-up; }
  Mod+Ctrl+L         { focus-monitor-right; }

  Mod+I              { focus-column-first; }
  Mod+A              { focus-column-last; }
  Mod+Shift+I        { move-column-to-first; }
  Mod+Shift+A        { move-column-to-last; }

  Mod+D              { focus-workspace-down; }
  Mod+U              { focus-workspace-up; }
  Mod+Shift+D        { move-column-to-workspace-down; }
  Mod+Shift+U        { move-column-to-workspace-up; }

  Mod+Ctrl+D         { move-workspace-down; }
  Mod+Ctrl+U         { move-workspace-up; }

  Mod+1              { focus-workspace 1; }
  Mod+2              { focus-workspace 2; }
  Mod+3              { focus-workspace 3; }
  Mod+4              { focus-workspace 4; }
  Mod+5              { focus-workspace 5; }
  Mod+6              { focus-workspace 6; }
  Mod+7              { focus-workspace 7; }
  Mod+8              { focus-workspace 8; }
  Mod+9              { focus-workspace 9; }
  Mod+Ctrl+1         { move-column-to-workspace 1; }
  Mod+Ctrl+2         { move-column-to-workspace 2; }
  Mod+Ctrl+3         { move-column-to-workspace 3; }
  Mod+Ctrl+4         { move-column-to-workspace 4; }
  Mod+Ctrl+5         { move-column-to-workspace 5; }
  Mod+Ctrl+6         { move-column-to-workspace 6; }
  Mod+Ctrl+7         { move-column-to-workspace 7; }
  Mod+Ctrl+8         { move-column-to-workspace 8; }
  Mod+Ctrl+9         { move-column-to-workspace 9; }

  Mod+Tab            { focus-workspace-previous; }

  Mod+BracketLeft    { consume-or-expel-window-left; }
  Mod+BracketRight   { consume-or-expel-window-right; }

  Mod+Comma          { consume-window-into-column; }
  Mod+Period         { expel-window-from-column; }

  Mod+R              { switch-preset-column-width; }
  Mod+Alt+R          { switch-preset-column-width-back; }
  Mod+Shift+R        { switch-preset-window-height; }
  Mod+Ctrl+R         { reset-window-height; }
  Mod+M              { maximize-column; }
  f11                { fullscreen-window; }

  Mod+F              { expand-column-to-available-width; }

  Mod+C              { center-column; }

  Mod+Ctrl+C         { center-visible-columns; }

  Mod+Minus          { set-column-width "-10%"; }
  Mod+Equal          { set-column-width "+10%"; }

  Mod+Shift+Minus    { set-window-height "-10%"; }
  Mod+Shift+Equal    { set-window-height "+10%"; }

  Mod+Shift+F        { toggle-window-floating; }
  Mod+Alt+F          { switch-focus-between-floating-and-tiling; }

  Mod+B              { toggle-column-tabbed-display; }

  Print              { screenshot; }
  Ctrl+Print         { screenshot-screen; }
  Alt+Print          { screenshot-window; }

  Mod+Shift+X        { quit; }

  Mod+Shift+P        { power-off-monitors; }

  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  XF86AudioRaiseVolume allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
  XF86AudioLowerVolume allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute        allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  XF86MonBrightnessUp allow-when-locked=true   { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

  Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
  Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

  XF86AudioPlay { spawn-sh "playerctl play-pause"; }
  XF86AudioNext { spawn-sh "playerctl next"; }
  XF86AudioPrev { spawn-sh "playerctl previous"; }
}
