include "startup.kdl"
include "binds.kdl"
include "colors.kdl"
include "outputs.kdl"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

gestures {
  hot-corners {
    off
  }
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24

  hide-when-typing
  hide-after-inactive-ms 1000
}

overview {
  workspace-shadow {
    off
  }
}

input {
  keyboard {
    xkb {
    }

    numlock
  }

  touchpad {
    tap
    natural-scroll
  }

  mouse {
  }

  trackpoint {
  }

  warp-mouse-to-focus

  focus-follows-mouse max-scroll-amount="0%"
}

layout {

  gaps 2 

  center-focused-column "never"

  preset-column-widths {
    proportion 0.25
    proportion 0.5
    proportion 0.75
    proportion 1.0
  }

  background-color "transparent"

  default-column-width {}

  focus-ring {
    off

    width 2 

    inactive-color "#505050"
  }

  border {

    width 2 

    inactive-color "#505050"

    urgent-color "#9b0000"

  }

  shadow {
    softness 30

    spread 5

    offset x=0 y=5

    color "#0007"
  }

  struts {
  }
}

animations {
  window-open {
    spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
  }
  window-close {
    spring damping-ratio=1.0 stiffness=400 epsilon=0.0001
  }
  window-movement {
    spring damping-ratio=1.0 stiffness=200 epsilon=0.0001
  }
  overview-open-close {
    spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
  }

  slowdown 1.5
}

window-rule {
  geometry-corner-radius 4 
  clip-to-geometry true
}

window-rule {
  match app-id=r#"^popup.term$"#
  open-floating true
  default-column-width { proportion 0.8; }
  default-window-height { proportion 0.8; }
  draw-border-with-background false
}

layer-rule {
  match namespace="^swww-daemon$"
  place-within-backdrop true
}

recent-windows {
  open-delay-ms 100

  highlight {
    padding 20
    corner-radius 4
  }

  previews {
    max-height 1080
    max-scale 0.75
  }

  binds {
    Alt+Tab         { next-window; }
    Alt+Shift+Tab   { previous-window; }
    Alt+grave       { next-window     filter="app-id"; }
    Alt+Shift+grave { previous-window filter="app-id"; }
  }
}
